@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Poetsen+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Jersey+25+Charted&family=Poetsen+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Jersey+20&family=Jersey+25+Charted&family=Poetsen+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
.about-section{
    width: 100%;
    height: 2500px;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.first-stage{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}

.text-container{
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #461cb9, #4f408f, #23a6d5, #0c103a);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 800px;
}


@keyframes gradient {
	0% {    
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hello{
    font-size: 56px;
    color: azure;
    animation: appearing-text 3s ease-in-out;
    padding-right: 30%;
    font-family: "Titillium Web", sans-serif;
}


@keyframes appearing-text {
    from {
        color: rgba(102, 51, 153, 0);
        transform: translateY(-50px); /* Por ejemplo, mueve hacia arriba 50px */
      }
      to {
        /* Estilo final */
        color: azure;
        transform: translateY(0); /* Vuelve a su posición original */
      }
}

.name{
    justify-content: right;
    display: flex;
    width: 100%;
    padding-top: 20px;
    margin-right: 50%;
    font-size: 90px;
    font-family: "Jersey 25 Charted", sans-serif;
    animation: appearing-text-2 3s ease-in-out;
}

@keyframes appearing-text-2 {
    from {
        color: rgba(102, 51, 153, 0);
        transform: translateX(50px); /* Por ejemplo, mueve hacia arriba 50px */
      }
      to {
        /* Estilo final */
        color: azure;
        transform: translateX(0); /* Vuelve a su posición original */
      }
}

.introduction{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 2, 37);
}

.image-holder {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.image-holder img {
    border-radius:  0% 70% 0% 70%; /* This will make the image circular */
    width: 60%; /* Ensure the image fills the container width */
    height: 60%; /* Ensure the image fills the container height */
    object-fit: cover; /* Ensure the image fills the container while maintaining aspect ratio */
    border: solid rgb(66, 65, 65) 0px;
    transition: border 10s ease, border-radius 20s ease;
    position: relative; /* Añade posición relativa para que el borde se ajuste correctamente */

}

.image-holder.scrolled img{
    border: solid rgb(109, 96, 177) 30px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .image-holder {
        width: 80%; /* Adjust the width for smaller screens */
    }
}

.description{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.welcome {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    animation: floating 3s ease-in-out infinite alternate; /* Adjust timing and easing as needed */
    display: flex;
    justify-content: center;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); /* Adjust the distance of the float */
    }
    100% {
        transform: translateY(0);
    }
}



.description-welcome{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    padding-right: 40px;
      text-align: center;
}

.objective{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(9, 38, 53);
}

.description-objective{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 40%;
    color: rgb(183, 217, 233);
}

.objective-demo{
    display: flex; /* This makes the container a flex container */
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; /* Distribute items in a row */

}




