.navBar {
    width: 100px; /* Ancho de la barra */
    background-color: #264094; /* Color de fondo */
    height: 100%; /* Altura total de la ventana menos 50px si es necesario */
    padding: 0 30px; /* Padding interno */
    left: -200px; /* Inicialmente fuera de la pantalla, asegúrate que este valor sea igual al ancho de la barra */
    position: fixed; /* Fijado en la ventana del navegador */
    z-index: 1; /* Z-index alto para asegurar que esté sobre otros elementos */
    padding-top: 50px;
    transition: 1s; /* Transición suave para animaciones */
}


.navBar.active {
    left: 0; /* Bring into view when active */
    background-color: rgb(82, 82, 170);
    height: 100vh; /* Altura total de la ventana menos 50px si es necesario */

}

ul{
    padding: 0; 
}

ul li{
    list-style-type: none;
}

ul li a{
    color: white;
    font-size: 18px;
    display: block;
    border-radius: 6px;
    padding: 10px 15px;
    margin: 10px;
}

ul li a:hover{
    background-color: rgb(137, 180, 180);
}

.iconsContainer{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    align-content: center;
    justify-content: center;
    width: 100%;
    
}